.chefLogo {
  width: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: whitesmoke;
  width: 100%;
  height: 110px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
}

h1 {
  font-size: 2rem;
  color: black;
  font-family: 'Inter', sans-serif;
}
