.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgb(235, 235, 235);
  height: 800px;
}

.ingredientsList {
  color: black;
  font-size: 1.3rem;
  text-align: left;
  width: 100%;
  max-width: 500px;
}

section {
  width: 100%;
  max-width: 600px;
}

section h2 {
  text-align: left;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.get-recipe-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  text-align: left;
  align-items: center;
  gap: 3rem;
  color: black;
  background-color: rgb(125, 235, 153);
  padding: 2rem;
  border-radius: 1rem;
}

.get-recipe-container button {
  height: 3rem;
  cursor: pointer;
  background-color: orange;
  color: black;
  font-weight: bold;
}

.searchForm input {
  width: 350px;
  min-width: 150px;
  max-width: 400px;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 7px;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  color: black;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  background-color: #000000;
  color: rgb(198, 198, 198);
  cursor: pointer;
}

form {
  display: flex;
  gap: 1rem;
}
