.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgb(235, 235, 235);
  height: 400px;
}

.ingredientsList {
  color: black;
  font-size: 1.3rem;
  text-align: left;
  width: 100%;
  max-width: 500px;
}

.searchForm input {
  width: 300px;
  min-width: 150px;
  max-width: 400px;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 7px;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  color: black;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  background-color: #000000;
  color: rgb(198, 198, 198);
  cursor: pointer;
}

form {
  display: flex;
  gap: 10px;
}
